@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    /* .navbar .nav-item:hover .nav-link{      } */
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0px; }
}

@media print {
    body {
      visibility: hidden;
    }
    #table {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table tbody {
    display: table;
    width: 100%;
}

.border {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 7px;
}